.header {
    background-color: #FFECEC;
    padding: 10px 0;
}

.header .header__inner {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__logo {
    max-width: 146px;
}

.header .header__logo a {
    display: inline-block;
    width: 100%;
}

.header .header__logo img {
    margin-bottom: 0;
    width: 100%;
    transition: transform .3s;
}

.header .header__logo img:hover {
    transform: scale(1.1);
}

.nav {
    margin-right: 15px;
}

.nav ul {
    display: flex;
}

.nav li+li {
    margin-left: 36px;
}

.nav a {
    font-size: 29px;
    line-height: 1.2;
    text-decoration: none;
    position: relative;
}

.nav a:hover:after {
    opacity: 1;
}

.nav a:after {
    height: 3px;
    width: 100%;
    background-color: #656565;
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    transition: opacity .3s;
}

.selected {
    background-color: #e3f4ee;
    padding: 60px 20px;
}